<ul>
    <li *ngFor="let task of tasks">
      <h3>{{ task.title }}</h3>
      <button *ngIf="editmode" (click)="deleteTask(task)">Delete</button>
      <ul>
        <li *ngFor="let item of task.description">
          <input type="checkbox" [(ngModel)]="item.completed" (click)="toggleItem(item)" />
          <span [ngClass]="{ 'completed': item.completed }">{{ item.text }}</span>
          <button *ngIf="editmode" (click)="deleteItem(item, task)">Delete</button>
        </li>
      </ul>
      <app-add-text (descriptionAdded)="onDescriptionAdded($event, task)"></app-add-text>
      <button (click)="onEdit()">{{ editmode ? 'Done' : 'Edit'}}</button>
    </li>
</ul>
  